<%- include('partials/header.ejs') %>

<h1>トップページです！</h1>

<h2>dataを出力</h2>
<p><%= data %></p>

<h2>siteInfoを出力</h2>
<ul>
  <li><%= siteInfo.name %></li>
  <li><%= siteInfo.owner %></li>
</ul>

<h2>itemsを出力</h2>
<ul>
  <% items.forEach((item) => { %>
  <li><%= item.name %></li>
  <% }) %>
</ul>

<%- include('partials/footer.ejs') %>
